.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2em;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    width: 10%;
    background-color: rgba(255, 255, 255, 0.519);
    border: 2px solid white;
    color: black;
}

button {
    cursor: pointer;
}