.form {
    display: flex;
    flex-direction: column;
    padding: 1% 20%;
    justify-content: center;
}

input,
textarea {
    margin: 1% 0;
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) and (max-width: 1000px) {}

@media (min-width: 425px) and (max-width: 768px) {}

@media (max-width: 425px) {}