.footersec {
    position: relative;
    z-index: 8;
    margin: 2em 0;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.paragraph {
    padding-top: 2em;
    padding-right: 1em;
}

.paragraph a {
    text-decoration: none;
    color: black;
}