:root {
    font-family: "Georgia, Arial, MyriadPro, 'Franklin Gothic Book','Trebuchet MS','Arial';";
    margin: 0;
    padding: 0;
    font-size: 16px;
    border: 0;
    font-weight: normal;
    color: black;
    background-image: url("../assets/FondoPizza.png");
    background-size: cover;
    height: 100vh;
}


#root {
    background-color: rgba(255, 255, 255, 0.622);
}

a {
    color: black;
    text-decoration: none;
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.MuiTableContainer-root {
    padding: 0 2em;
}